@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

body {
  width: 800px;
  margin: auto;
  font-family: "Computer Modern", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

div.cell {
  width: 98%;
  margin: auto;
}

h1 {
  font-family: Helvetica, serif;
}

h4 {
  margin-top: 12px;
  margin-bottom: 3px;
}

div.text_cell_render {
  line-height: 145%;
  font-size: 150%;
}

.prompt{
  display: None;
}

.text_cell_render h5 {
  font-weight: 300;
  font-size: 16pt;
  color: #4057A1;
  font-style: italic;
  margin-bottom: .5em;
  margin-top: 0.5em;
  display: block;
}

.warning {
  color: rgb( 240, 20, 20 )
} 

.output_stderr {
  display: none;
}

.rendered_html code {
  font-size: 80%;
}
