# Cloudly requirements

# nbviewer requirements
flask==0.10.1
Flask-BasicAuth==0.2.0
requests==2.2.0
gunicorn==18.0
newrelic==2.8.0.7
github3.py==0.8.0
git+https://github.com/ooda/cloudly.git@master#egg=cloudly-master
